@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-dark: #20152c;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--purple-dark);
}
