@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple-medium: #20152c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --purple-medium: #20152c;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--purple-medium);
  cursor: url(../../public/cursor.svg), auto;
}
